.mini {
    background-color: rgba(250, 218, 170, 0.979);
    width: 70%;
    height: 100px;
    text-align: center;
}

.para {
    background-color: lightskyblue;
    height: 150px;
    margin-bottom: 10px;


}